@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background: #f6f6f6;
  font-family: 'DM Sans', sans-serif;
}
